.app-footer {
    background-color: #ccc; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 20px;
    text-align: center;
    position: relative; /* Para garantir que o footer não sobreponha outros elementos */
    bottom: 0;
    width: 100%; /* Para ocupar toda a largura da tela */
}

.footer-content {
    margin: 0; /* Remove margens padrão */
}

.footer-links {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove padding */
    margin-top: 10px; /* Espaço entre o texto e os links */
}

.footer-links li {
    display: inline; /* Exibe os itens da lista na mesma linha */
    margin: 0 15px; /* Espaçamento entre os links */
}

.footer-links a {
    color: white; /* Cor dos links */
    text-decoration: none; /* Remove sublinhado */
}

.footer-links a:hover {
    text-decoration: underline; /* Sublinhado ao passar o mouse */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-links li {
        display: block; /* Exibe os itens da lista em bloco (um abaixo do outro) */
        margin: 10px 0; /* Espaçamento vertical entre os links */
    }
}
